.cart__item {
  list-style: none;
  padding: 2rem;
  border-bottom:  1px solid var(--color-cart-separator);
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr;
  align-items: center;
}

.item__delete {
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 1.8rem;
  margin-right: 2rem;
}

.item__name {
  font-size: 1.5rem;
  color: var(--color-text-primary);
  font-weight: 400;
  width: 20rem;
  line-height: 2rem;
}

.item__quantity {
  display: flex;
  flex-direction: row;
}

.item__plus, 
.item__minus {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-cart-separator);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__input {
  border: none;
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  color: var(--color-text-secondary);
  font-weight: 400;
  text-align: center;
}

.item__price {
  font-size: 1.6rem;
  color: var(--color-text-secondary);
  font-weight: 400;
  margin-right: 2rem;
  text-align: right;
}

@media (max-width: 720px) {
  .item__image {
    display: none;
  }
  .cart__item {
    grid-template-columns: 0.5fr 2fr 1fr 1fr;
  }
}