.thumb {
  position: relative;
  width: 100%;
  height: 26rem;
}

.thumb__picture {
  width: 100%;
  height: 26rem;
  object-fit: cover;
}

.thumb__tag {
  position: absolute;
  right: 0;
  top: 0.8rem;
  background: var(--color-primary);
  color: var(--color-light);
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 13rem;
}

.thumb__offer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--color-secondary);  
  padding: 0.8rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumb__label,
.thumb__value {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--color-tertiary);
}

.thumb__label {
  text-transform: uppercase;
}

.thumb__value {
  font-weight: bold;
}

.thumb__tag--hide,
.thumb__offer--hide,
.price__to--hide,
.price__from--hide,
.price__installments--hide {
  display: none;
}

.info {
  padding: 1.5rem;
}

.info__name {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--color-text-primary);
}

.info__button {
  position: relative;
  overflow: hidden;
  margin: 2rem auto;
  background: var(--color-primary);
  width: 100%;
  height: 4rem;
  border-radius: 5rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.info__button:after {
  content: "";
  background: var(--color-tertiary);
  display: block;
  position: absolute;
  padding-top: 10rem;
  padding-left: 40rem;
  opacity: 0;
  transition: all 0.8s;
  border-radius: 30%;
}

.info__button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.info__span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.info__span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.info__button:hover .info__span {
  padding-right: 25px;
}

.info__button:hover .info__span:after {
  opacity: 1;
  right: 0;
}

.price {
  width: 100%;
  height: 8rem;
  padding: 1rem 1.5rem;
  border-bottom: 0.5rem solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.price--promotional {
  background: var(--color-tertiary);
  border-bottom: none;
}

.price--promotional .price__to {
  color: var(--color-secondary);
}

.price__from {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-decoration-line: line-through;
  color: var(--color-text-secondary);
}

.price__to {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--color-text-primary);
}

.price__installments {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--color-text-secondary);
}