.main {
  margin-top: 7.5rem;
  padding: 0 15rem;
}

.main--close {
  display: none;
}

.main__title {
  color: var(--color-dark);
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
}

@media (max-width: 1080px) {
  .main {
    padding: 0 3rem;
  }
}

@media (max-width: 720px) {
  .main {
    padding: 0 2rem;
  }
  
  .main__title {
    display: none;
  }
}