.header {
  background: var(--color-primary);
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15rem;
  color: var(--color-light);
}

.header__title { 
  font-size: 3rem;
}

.header__logo { 
  width: 6rem;
  background: var(--color-light);
  padding: 0.3rem;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .header {
    padding: 0 3rem;
  }
}

@media (max-width: 720px) {
  .header {
    padding: 0 2rem;
  }
}