.cartModal {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: var(--color-primary-80);
  left: 0;
  top: 0;
  z-index: 1;
}

.cartModal--open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartModal--open .cart {
  -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cart {
  min-width: 60%;
  max-width: 60%;
  max-height: 90%;
  overflow: auto;
  padding-bottom: 3rem;
  background: var(--color-light);
  box-shadow: 1px 2px 3px 0px var(--color-text-secondary);
  border-radius: 6px; 
  display: flex;
  flex-direction: column;
}

.cart__title {
  height: 6rem;
  padding: 2rem 3rem;
  color: var(--color-text-primary);
  font-size: 3rem;
  font-weight: 400;
  border-bottom: 1px solid var(--color-cart-separator);
}

.cart__shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 8rem;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: var(--color-text-primary);
  font-weight: 400;
  line-height: 2rem;
}

.cart__price {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.cart__back, .cart__checkout {
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-light);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.cart__back {
  background: var(--color-text-secondary);
}

.cart__cep {
  background: var(color-cart-separator);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-primary);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid var(--color-primary-80);
}

.cart__back {
  margin: 0 auto;
}

.cart__checkout {
  background: var(--color-primary);
  margin-top: 4rem;
  border:0;
}

.cart__input {
  width: 10rem;
  background: var(color-cart-separator);
  padding: 0.9rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-primary);
  border: 1px solid var(--color-primary-80);
  margin-right: 0.5rem;
}

.cart__close {
  background: transparent;
  border: 2px solid var(--color-light);
  color: var(--color-light);
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  right: 6rem;
  top: 3rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart__message {
  display: flex;
  align-self: center;
  margin-top: 3rem;
  font-size: 2rem;
  color: var(--color-text-secondary);
}

.cart__image {
  width: 10rem;
  margin: 1rem auto;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(15vh);
            transform: translateY(15vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


@media (max-width: 720px) {
  .cart {
    max-width: 90%;
  }
}