.products {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26.3rem, 1fr));
  grid-gap: 3rem;
  margin-top: 3rem;
}

.products__item {
  width: 100%;
  margin-bottom: 3rem;
  background: var(--color-light);
  border: 1px solid #E5E5E5;  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 1080px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 3rem;
    margin-top: 3rem;
  }
}

@media (max-width: 720px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(14, 1fr));
    grid-gap: 2rem;
    margin-top: 2rem;
  }
}