.cartHeader {
  font-size: 2rem;
  height: 29px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.cartHeader__image {
  width: 3rem;
  height: 3rem;
}

.cartHeader__text {
  margin-right: 1rem; 
}

.cartHeader__count {
  min-width: 1.8rem;
  min-height: 1.8rem;
  padding: 0.2rem 0.1rem;
  background: var(--color-secondary);
  border-radius: 50%;  
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.cartHeader__count--active {
  display: flex;  
}

@media (max-width: 720px) {  
  .cartHeader__text {
    display: none;
  }
}