:root {
  --color-background: #F8F8F8;
  --color-primary: #72BF44;
  --color-primary-80: rgba(114,191,68,.80);
  --color-secondary: #ED1C24;
  --color-tertiary: #FAE800;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-cart-separator: #E1E8EE;
}  

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
} 

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  width: 100%;
  max-width: 1440px;
  background: var(--color-background);
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2rem;
}

@media (max-width: 720px) {
  html {
    font-size: 50%;
  }
}